/*
	category: A2 Multimidia
	name: Album de fotos (Gallery View)[CSS]
	toolTip: Album de fotos (Gallery View)[CSS]
*/

/*Album de Fotos - Gallery View
*********************************************************************************************/


#album_view .panel-overlay h2{font-size:1.2em;margin:5px 0 0px 0;}
#album_view .panel-overlay p{font-size:1em;}
#album_view, #photos {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;

}

