/*
	category: A2 Multimidia
	name: Blog Toolbox [CSS]
	toolTip: Blog Toolbox [CSS]
*/

/*Blog Toolbox
 ********************************************************************/
.text_toolbox {
	clear:both;
	text-align:right;
	margin:0;
	padding:0;
}
.text_toolbox ul li {
	display:inline;
	font-size:11px;
	font-weight:bold;
	margin-left:10px;
	color:#666;
}

.text_toolbox ul li a {color:#666;text-decoration:none;}
.text_toolbox ul li.print a {background-image:url("../img/ico/printer.png");}
.text_toolbox ul li.e-mail a {background-image:url("../img/ico/email.png");}
.text_toolbox ul li.share a {background-image:url("../img/ico/comments.png");}
.text_toolbox ul li.comments a {background-image:url("../img/comment.png");}
.text_toolbox ul li a {
	background:url("../img/world.png") no-repeat scroll left center transparent;
	padding:3px 0 3px 22px;
}
.addthis_button {cursor:pointer;}
.text_toolbox ul li.e-mail span {display:none;}

