/*
	category: A2 Formularios
	name: Cadastro [CSS]
	toolTip: Cadastro [CSS]
*/

/* Formul�rio de Cadastro
*********************************************************************************************/
/* a href*/
form a {
	text-decoration:none;
	color:#666;
}
form a:hover {
	text-decoration:underline;
}

/*Titulo*/
h2 {
	clear:both;
	font-size:2em;
	font-weight:normal;
	letter-spacing:-1px;
	line-height:26px;
	margin-bottom:20px;
}
.subtitulo {
	color:#666666;
	font-style:italic;
	font-weight:normal;
	letter-spacing:0;
	margin-top:-10px;
}
p.verificaCep{
	display:table;
	margin:0;
	padding:20px 0 0 0;
	height:100%;
}

/*Form*/
form  {
	margin:0;
	padding-left:10px;
	width:auto;
	display:table;
}

/*Div*/
form div.linha{
	display:block;
	height:60px;
}

/*Label*/
form label{
	float:left;
	margin:5px 15px 0 0;
}




/*Span*/
form label span{
	display:block;
}

form div#campo08 span {
	display:block;
	height:20px;
	margin:10px 0 0;
	padding:5px;
	font-size:12px;
	font-weight:bold;
	padding-bottom:3px;
}



/*Fieldset*/
fieldset{
	/*border:none;*/
}

/*Inputs*/
form label input{
	height:20px;
	width:230px;
	background-color:#F5F5F5;
	border:1px solid #999999;
	color:#666666;
	padding:3px;
}
form div#campo03 label input#cep  {
	width:150px;
}

form div#campo07 label input#ddd_tel, 
form div#campo07 label input#ddd_cel {
	width:35px;
	margin:0 15px 0 0;
}
form div#campo07 label input#telefone, 
form div#campo07 label input#celular {
	width:167px;
}
form div#campo08 input#noticias {
	float:left;
	margin:5px 5px 0 0;
}

/*Select*/
form label select{
	background-color:#F5F5F5;
	border:1px solid #999999;
	color:#666666;
	font-size:12px;
	font-weight:bold;
	height:25px;
}
form span#city select {
	width:422px;
}

/*Input - Botão*/
form input.inputEnviar{
	border:1px solid #666;
	padding:5px;
	height:30px;
	width:60px;
	background:#999;
	color:#FFF;
	font-weight:bold;
}







