/*
	category: A2 Multimidia
	name: Chamada com imagem[CSS]
	toolTip: Chamada com imagem [CSS]
*/

.call .category {font-size:11px;margin:0;}

.call img {border:none;}
.call .image {float:left;margin:0 10px 10px 0;}
.call .image a {display:block;width:50px;height:50px;overflow:hidden;border:3px solid #ccc;}
.call .image a:hover {border:3px solid #999;}

.call h3 {margin:3px 0 5px;}
.call .description {margin:0;font-size:12px;font-style:italic;}

.call .category a, .call h3 a {font-weight:bold;color:#666;text-decoration:none;}
.call .category a:hover, .call h3 a:hover {text-decoration:underline;}


