/*
	category: A2 Multimidia
	name: Chamada [CSS]
	toolTip: Chamada [CSS]
*/

/*chamada****************************************/
.call .category {font-size:11px;margin:0;}

.call h3 {margin:3px 0 5px;}

.call .description {margin:0;font-size:12px;font-style:italic;}

.call .category a, .call h3 a {font-weight:bold;color:#666;text-decoration:none;}
.call .category a:hover, .call h3 a:hover {text-decoration:underline;}


