/*
	category: A2 Formularios
	name: Enquete [CSS]
	toolTip: Enquete [CSS]
*/

/*Enquete
 * ***********************************************/

#poll{width:200px;border:1px solid #CCC; padding:5px;}
#poll a {color:#666;text-decoration:none;}
#poll .question {font-weight:bold;}
#poll label {display:block;	margin-bottom:10px;}
#poll .block {text-align:center;}
#poll .input_submit {
	border:1px solid #999;
	-moz-border-radius:3px 3px 3px 3px;	
	background:#666;
	color:white;
	font-size:11px;
	font-weight:bold;
	margin-bottom:5px;
	padding:3px 10px;
	text-transform:uppercase;
}
#poll .block a {
	display:block;
	font-size:11px;
	font-weight:bold;
}
#poll label input {
	margin-right:3px;
	float:left;
}
#poll label var {
	font-family:"Arial","Helvetica",sans-serif;
	padding:0 0 0 20px;
	display:block;

}