/*Tooltip*/
.tooltip-conteudo {
    padding: 5px;
    border: 1px solid #000;
    background: #444;
    color: #FFF;
    z-index: 10;
    top: 0;
    left: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
}
.tooltip-conteudo img {
    border: 1px solid #000;
    display: block; /*Mini hack pra retirar a linha que fica embaixo da imagem*/
}
.tooltip-load, .modal-load {
    background: #444 url(../img/load.gif) no-repeat center;
    width: 62px;
    height: 13px;
    display: block;
    padding: 5px;
}

