/*
	category: A2 Formularios
	name: Formulario (In-Field Labels - jQuery)[CSS]
	toolTip: Formulario (In-Field Labels - jQuery)[CSS]
*/

/*Formularios com script jQuery In-Field Labels
*********************************************************************************************/
form {
	margin:0 auto;
	padding: 0 20px 20px 20px;
	width:450px;
}
form legend {
	color: #333;
	padding: 0 0 20px 0;
	text-transform: uppercase;
}
form, form fieldset input, form fieldset textarea, form label {
	font-family: Helvetica, Arial;
	font-size: 12pt;
}
form fieldset{padding:5px; margin:0; border:0;}
form p { position: relative; margin: 10px 0;}
form p label { position: absolute; top: 0; left: 0;}
form p br {display: none;}
form fieldset p input,
form fieldset p textarea {
	display: block;
	padding: 4px;
	width: 400px;
	margin: 0;
}
form fieldset p label {
	width: 400px;
	display: block;
	margin: 5px 5px 5px 6px;
	padding: 0;
}
form fieldset p textarea {
	padding: 2px;
	width: 404px;
}
form fieldset p textarea,
form fieldset p input {
	background:#f5f5f5;
	border: solid 1px #ccc;
}
form fieldset p label {
	color: #777;
}
