/*
	category: A2 Multimidia
	name: Google Maps com Icons[CSS]
	toolTip: Google Maps com Icons[CSS]
*/

/*Google Maps com Icons
*********************************************************************************************/
#map{width: 800px; height: 520px; border: 10px solid #666; padding:5px; margin: 0 auto; overflow: hidden;}
