/*
	category: A2 Multimidia
	name: Imagem (Lightbox) [CSS]
	toolTip: Imagem (Lightbox) [CSS]
*/

/*Imagem com lightbox*/
.single-image {width:300px;}
.single-image .description {
	background:#eee;
	border:1px solid #ccc;
	padding:10px;
	font-size:11px;
	color:#666;
	font-weight:bold;
	line-height:14px;
}
.single-image .credit {font-size:11px;color:#666;margin:0;text-align:right;}
.single-image a img {border:none;}
