/*
	category: A2 Multimidia
	name: Lista de albuns (Tabela) [CSS]
	toolTip: Lista de albuns (Tabela) [CSS]
*/


/*Lista de Albuns*/

/*DIV */
#albuns_updates table  {
	border-collapse:collapse;
}

/*TD*/
#albuns_updates .entry .thumb {
	padding:10px 10px 10px 0;
}
#albuns_updates .entry td {
	padding:10px 5px;
	vertical-align:top;
}

/*Span*/
#albuns_updates .entry p.info span {
	background:url("../img/calendar.png") no-repeat scroll left center transparent;
	color:#244A9F;
	padding:3px 0 3px 20px;
}
#albuns_updates .entry p.info a {
	background:url("../img/images.png") no-repeat scroll left center transparent;
	margin-left:10px;
	padding:3px 0 3px 20px;
}

/*H3*/
.entries .entry h3 {
	font-size:14px;
	letter-spacing:-1px;
	line-height:18px;
	text-decoration:none;
}

/*p*/
#albuns_updates p.description {
	color:#666666;
	font-size:11px;
	font-weight:bold;
	margin-top:-5px;
}
/*img*/
#albuns_updates img{
	border:none;
}

/*a*/
#albuns_updates a{
	text-decoration:none;
}
#albuns_updates a:hover{
	text-decoration:underline;
}  
 
 
 
 
 
 
