/*
	category: A2 Multimidia
	name: Lista de Comentarios [CSS]
	toolTip: Lista de Comentarios [CSS]
*/

/*Lista de Comentarios***********************/
#comments-list a {color:#666;text-decoration:none;}
#comments-list a:hover {color:#666;text-decoration:underline;}
#comments-list ol, #comments-list p {margin:0;padding:0;list-style:none;}
#comments-list ol li {padding:10px;margin-bottom:10px;border-bottom:1px solid #ccc;}
#comments-list p.comment_name {font-weight:bold;}
#comments-list p.comment_time {font-style:italic;margin-bottom:10px;}
