/*
	category: A2 Multimidia
	name: Lista de noticias [CSS]
	toolTip: Lista de noticias [CSS]
*/

.entries ul {list-style:none;margin:0;padding:0;}
.entries ul li {margin:0;}

.entries ul li.entry .date {
	background-color:#EEEEEE;
	border-right:5px solid #CCCCCC;
	color:#666666;
	display:block;
	float:left;
	font-size:11px;
	font-weight:bold;
	margin-bottom:0;
	margin-right:10px;
	padding:5px 0;
	text-align:center;
	width:55px;
	font-size:11px;
}

.entries ul li.highlight p.category {
	display:inline;
	font-size:11px;
	font-weight:bold;
	margin:0;
	padding:0;
}

.entries ul li.highlight .category a, .entries ul li.highlight h3 a, .entries ul li.entry h4 a {text-decoration:none;color:#666;}
.entries ul li.highlight .category a:hover, .entries ul li.highlight h3 a:hover, .entries ul li.entry h4 a:hover {text-decoration:underline;}

.entries ul li.highlight h3 {margin:2px 0 5px 70px;}
.entries ul li.highlight p.description {margin:0 0 0 70px;font-size:12px;font-style:italic;}

.entries ul.media {margin-bottom:0;padding-left:0;}
.entries ul.media li {
	background:url(../img/ico/page_white_put.png) no-repeat;
	display:block;
	float:right;
	text-indent:-9999px;
	width:24px;
	margin-left:5px;
}

.entries ul.media li.audio {background:url(../img/ico/sound.png) no-repeat;}
.entries ul.media li.video {background:url(../img/ico/film.png) no-repeat;}
.entries ul.media li.img {background:url(../img/ico/picture.png) no-repeat;}
.entries ul.media li.file {background:url(../img/ico/page_white.png) no-repeat;}

.entries h3.date {background:#666;color:white;padding:5px;font-size:14px;}
