/*
	category: A2 Estrutura
	name: Logo [CSS]
	toolTip: Logo [CSS]
*/

/*Logo************************************************/

#logo h1 a {
	background:#eee url(../img/modelo02.jpg) no-repeat;
	display:block;
	text-indent:-9000px;
	width:250px;
	height:100px;
}
