/*
	category: A2 Formularios
	name: Receber Noticias [CSS]
	toolTip: Receber Noticias [CSS]
*/

/*Receber Noticias
 * ***********************************************/
#receber-noticias{width:200px; border:1px solid #CCC; padding:10px;}
#receber-noticias h3{color:#666;letter-spacing:-1px;}
#receber-noticias label {color:#666;font-weight:bold;}
#receber-noticias .input_text {
	border:1px solid #CCCCCC;
	color:#666666;
	font-family:"Arial","Helvetica",sans-serif;
	font-size:11px;
	font-weight:bold;
	padding:3px;
}
#receber-noticias .input_text {margin-bottom:10px;width:95%;}
#receber-noticias .input_submit {
	border:1px solid #999;
	-moz-border-radius:3px 3px 3px 3px;	
	background:#666;
	color:white;
	font-size:11px;
	font-weight:bold;
	margin-bottom:5px;
	padding:3px 10px;
	text-transform:uppercase;
}