/*
	category: A2 Multimidia
	name: Slideshow [CSS]
	toolTip: Slideshow [CSS]
*/

/*Slideshow
*********************************************************************************************/
#slideshow img {border:1px solid #2E0406;}
#slideshow a {outline:none;}
.image .legend {background:#eee;border:1px solid #ccc;}
.image .legend {background:#666;}
.image #slideshow .legend {padding:25px 25px 1px;height:49px;border:1px solid #2E0406;width:250px;}
.image .legend {margin-top:-6px;padding:12px;font-size:11px;line-height:16px;height:60px;overflow:hidden;}
.legend p {text-align:left;}
.image .legend a{text-decoration: none;}
.image .legend a:hover{text-decoration:underline;}
.image .legend p {line-height:13px;}
.image .legend a, .image p.legend {color:white; font-weight:normal;}
.image .legend p {line-height:13px;}

#slide {position:relative;height:310px;}
#slideNav span a { 	
	background-color:black;
	background-repeat:no-repeat;
	display:block;
	width:20px;
	height:48px;
	text-indent:-9000px;
	z-index: 11;
	position: absolute;
	top: 240px;
}
#slideNav #prev2 {
	background:transparent url(../img/prev_cinza.gif) repeat scroll center;
	float:left;
	margin-left:2px;
	left: 0;
}
#slideNav #next2 {
	background:transparent url(../img/next_cinza.gif) repeat scroll center;
	float:right;
	margin-right:2px;
	right: 0;
}

/*foto*/
.a, .b, .c, .d {overflow:hidden;}
.a {width:62px;}
.b {width:222px;}
#slide.c {width:302px;}
.d {width:auto;}

/*imgs etc*/
.credit  {
	text-align:right;
	display:block;
	color:#999999;
	font-size:11px;
}

