/*
	category: A2 Multimidia
	name: Slide de Imagens [CSS]
	toolTip: Slide de Imagens [CSS]
*/

#carrossel{
   width:750px;
   height:250px;
   overflow:hidden;
   margin:0 auto;
}
#carrossel ul{
   list-style:none;
}
#carrossel ul li{
   float:left;
   display:inline;
}

p{text-align:center;}
