/*
	category: A2 Multimidia
	name: Slideshow [CSS]
	toolTip: Slideshow [CSS]
*/

/*Slideshow
*********************************************************************************************/
#slideshow img {border:1px solid #CCC; margin:0;}
#slideshow a {outline:none; display:table;}
.image .legend {
	background:#f5f5f5;border:1px solid #ccc;
	margin-top:0;font-size:11px;line-height:16px;height:60px;overflow:hidden;
	padding:15px 25px 1px;height:49px;width:250px;
}
.image .legend a{text-decoration: none; }
.image .legend a:hover{text-decoration:underline;}
.image .legend p {line-height:10px; margin:0; text-align:left;}
.image .legend a, .image p.legend {color:#666; font-weight:normal; outline:none;}

#slide {position:relative;height:310px; margin:0 auto;}
#slideNav span a { 	
	background-color:black;
	background-repeat:no-repeat;
	display:block;
	width:20px;
	height:48px;
	text-indent:-9000px;
	z-index: 11;
	position: absolute;
	top: 240px;
}
#slideNav #prev2 {
	background:transparent url(../img/prev_cinza.gif) repeat scroll center;
	float:left;
	margin-left:2px;
	left: 0;
}
#slideNav #next2 {
	background:transparent url(../img/next_cinza.gif) repeat scroll center;
	float:right;
	margin-right:2px;
	right: 0;
}

/*foto*/
.a, .b, .c, .d {overflow:hidden;}
.a {width:62px;}
.b {width:222px;}
#slide.c {width:302px;}
.d {width:auto;}

/*imgs etc*/
.credit  {
	text-align:right;
	display:block;
	color:#999999;
	font-size:11px;
}

