/*
	category: A2 Estrutura
	name: Template [CSS]
	toolTip: Template [CSS]
*/

/*page************************************************/

#page {width:920px;margin:0 auto;}

#container {position:relative;}

#extra {
	background:#eee;
	border:1px solid #ccc;
	width:25%;
	position:absolute;
	left:0;
	top:0;
}

#content {
	background:#fff;
	width:50%;
	margin-left:25%;
	min-height: 500px;
	_height: auto !important;
	height: 500px;
}

#sidebar {
	background:#eee;
	border:1px solid #ccc;
	width:25%;
	position:absolute;
	right:0;
	top:0;
}

#extra, #sidebar {height:500px;}

/*header***************************************************/
#header {height:200px;}

/*content***************************************************/
#content {padding:0 10px;}

/*footer***************************************************/
#footer {
	margin-top:10px;
	text-align:center;
	clear:both;
	padding:10px;
	background:#eee;
	border:1px solid #ccc;
	font-size:11px;
}
