
#container {position:relative;}

#extra {
	background:#eee;
	width:25%;
	position:absolute;
	left:0;
	top:0;
}

#content {
	background:#ccc;
	width:50%;
	margin-left:25%;
}

#sidebar {
	background:#aaa;
	width:25%;
	position:absolute;
	right:0;
	top:0;
}

#extra, #content, #sidebar {height:500px;}
