/*
	category: A2 Multimidia
	name: Tamanho do Texto [CSS]
	toolTip: Tamanho do Texto [CSS]
*/


/*Tamanho do Texto - Font-size
*********************************************************************************************/

#text_size ul {
	margin-left:0;
}
#text_size ul li.text_title {
	color:#999999;
	font-size:11px;
}
#text_size ul li {
	display:inline;
	margin-left:5px;
}
#text_size ul li a {
	font-weight:bold;
	text-decoration:none;
}
#text_size ul li.menor {
	font-size:10px;
}
#text_size ul li.igual {
	font-size:13px;
}
#text_size ul li.maior {
	font-size:15px;
}
