/*global***************************************************/
#global {margin:1% 2%;}

/*header***************************************************/
#header #logo h1 {
	background:url(../img/logo.png) no-repeat left center;
	text-indent:-9999px;
	width:145px;
	height:139px;
	margin:0 auto;
}
/*content/tabela***************************************************/

#content {position:relative;padding-bottom:135px;}
#a2ff_info {position:absolute;top:65px;width:100%;font-size:12px;color:#0068a6;}

/*tabela*/
#a2ff {color:#666;}
#a2ff a {color:#0068a6;text-decoration:none;font-size:12px;}
#a2ff a:hover {text-decoration:underline;}
#a2ff td {line-height:18px;}
#a2ff td.input {text-align:center;}

/*thead*/
#a2ff th.a, th.g, th.h {text-align:center;padding:6px 10px !important;}
#a2ff th.d {width:10%;}
#a2ff th.a {width:5.75% !important;}
#a2ff th.a {font-weight:normal;}

/*tbody*/
td.status, td.demo, td.download {text-align:center;}

/*selecao*/
tr.teste {background:black;}

/*icos*/
#a2ff .demo a, #a2ff .download a, #a2ff .status span {
	font-size:0;
	padding:0;
	display:block;
	width:16px;
	height:16px;
	margin:0 auto;
	background:url(../img/ico/demo.png) no-repeat center center;
}
#a2ff .demo a {background-image:url(../img/ico/demo.png);}
#a2ff .demo.disable a {background-image:url(../img/ico/demo-disable.png);cursor:default;}
#a2ff .download a {background-image:url(../img/ico/download.png);}
#a2ff .download.disable a {background-image:url(../img/ico/download-disable.png);cursor:default;}
#a2ff .status .complete {background-image:url(../img/ico/accept.png);}
#a2ff .status .partial {background-image:url(../img/ico/partial.png);}
#a2ff .status .error {background-image:url(../img/ico/error.png);}

#a2ff th.a {width:1%;}

/*controls***************************************************/
#painel {
	position:relative;
	position:fixed;
	bottom:0;
	width:100%;
}

#controls {
	background:url(../img/bg_controls.png) repeat top center;
	border:1px solid #ccc;
	border-bottom:none;
	height:160px;
	width:20%;
	margin:0 auto;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
    text-align:center;
}

#controls #wrap {
	border-top:5px solid #eee;	padding:10px;
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
    -moz-border-radius-topright:10px;
    -webkit-border-top-right-radius:10px;
}

#bt_controls {background:#eee;position:absolute;margin:-17px 0 0 48%;border-bottom:1px solid #eee;padding: 0px 1%; cursor: pointer; float: left;  list-style: none;}
#bt_controls span.ui-icon {float: left; margin: 0 4px;}

#controls_list {margin:20px 0 0;}
#controls_list li {display:inline;margin:0 5px;padding:10px 0;}

#controls img {margin:15px 0 0 0;}

#download {
        display: block;
        font-family: Helvetica,Arial,sans-serif;
    	font-weight: bold;
    	font-size: 138.5%;
    	text-align: center;
		text-decoration: none;
		padding: 10px;
    	-moz-border-radius: 5px;
        border: 1px solid #004873;
        background: #0068a6;
		text-shadow: 1px 1px 1px #333;
    	color: #ffffff;
	 	width: 73%;
	 	margin:0px auto 10px;
}

#download:hover {background:#eee;}

/*jQuery UI*/
.icon {margin:2px; position: relative; padding: 4px 0; cursor: pointer; float: left;  list-style: none;}
.icon span.ui-icon {float: left; margin: 0 4px;}

.bt {padding: .4em 1em .4em 20px;text-decoration: none;position: relative;}
.bt span.ui-icon {margin: 0 5px 0 0;position: absolute;left: .2em;top: 50%;margin-top: -8px}

.ui-dialog-titlebar {border:1px solid #0068a6 !important;text-shadow:1px 1px 1px #333333;}
.ui-dialog-content {font-size:12px;line-height:18px;}
.ui-dialog-content p {margin-bottom:10px;}
.ui-dialog-content p, .ui-dialog-content ul {color:#666 !important;}
.ui-dialog-content ul {margin-left:10px;}
.ui-dialog-content ul li {margin-bottom:5px;list-style:square;}

#sobre.ui-dialog-content img {float:left;margin:0px 20px 10px 20px;}
#sobre.ui-dialog-content {margin-top:15px;}
#sobre.ui-dialog-content ul {margin-top:5px;}
#sobre.ui-dialog-content ul li {font-weight:bold;color:#999;font-size:11px;list-style:none;}

#tabs_funcionamento {border:none;padding:10px 0;}
#tab01, #tab02, #tab03 {padding:10px 5px;}

/*destaque modulo*/
/*td.ai-layout{color:#f55200;}
td.estrutural{color:#9221b1;}
td.navegacionais{color:#ffc70c;}
td.multimidia{color:#00aec7;}
td.formularios{color:#99ba2b;}*/
